.categoryList {
    width: 100%;
    border-right: 2px solid silver;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

.categoryList ol {
    padding-left: 0;
}

.categoryList ol li {
    color: white;
    background-color: none;
    margin: 75px 0;
    list-style-type: none;
    cursor: pointer;
    text-align: center;
    height: 100%;
}

.categoryList ol li a {
    color: white;
    text-decoration: none;
}

.category ol li:before {
    content: 'a';
}

.categoryList ol li:hover:not([disabled]),
.categoryList ol li a:hover:not([disabled]) {
    background-color: #fff;
    color: var(--background);
}